<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1>It's a <%= kindOfDay %>!</h1>
  </div>

  <div class="box">
    <% for (var i = 0; i < newItemsList.length; i++){  %>
    <div class="item">
      <input type="checkbox">
      <p><%= newItemsList[i] %> </p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="itemValue" autocomplete="off"  placeholder="New Item" value="">
      <button type="submit" name="button">+</button>
    </form>

  </div>



</body>

</html>
